style{@import url('https://fonts.googleapis.com/css2? family= Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700 & family= Inter:wght@100;200;800;900 & display=swap');
}


*{  
    margin:0;                                                                                                                                                                            
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
} 

    
   
        
body{
    background-color: aliceblue ;   
    
}
section,
footer{
    padding: 56px;
}
h3{
    font-size: 50px;
     
}
p{
    color:rgb(0, 0, 0);
    
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%; 
} 
.btn{
    background-color: #43c2fd;
    color: rgb(3, 3, 3);
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block ;
    transition: 0.1s;
    font-weight: bold;
    font-family: sans-serif;
   
   
} 
.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}
.btn:hover{
    background-color: #c3e7f8;
}
@keyframes animate-outline{
from{    
    outline: 0px solid rgb(255, 230, 217);
}
to{
        outline: 15px solid #fffdfb;}

}
@-webkit-keyframes animate-outline /* Safari e Chrome */
{
from{
    outline: 0px solid rgb(164, 218, 253);
}
to{
    outline: 15px solid #fdfdfc;}
}

    
        

header{    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding-top: 30px; 
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: #f5740a;
    margin: 0 25px;
    text-transform:uppercase;   
    font-weight: bolder;
    font-size: 20px;
    display: block;         
}
    
nav ul a:not(.btn):after{
    content: "";
    background-color:white;
    height: 3px;
    width: 0%;    
    display: flex;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
width: 100%;
}
.btn:hover{
    background-color:#f87103 ;
}
.banner {
    display: flex;
    justify-content:center;    
}
.banner{
    background-size: cover;
    margin: 100px;
    text-align: center;
    padding: 100px;
}
.banner h1{
    font-size: 60px;
    color:#f87103;
    font-size: fixed;
    margin-bottom: 50px; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:aliceblue;      
} 

.banner.banner p{
    font-size: 30px;
    color:rgb(7, 7, 7);
    font-weight: bolder;
    margin: 18px 0;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:aliceblue;
}
/*promoções*/ 
.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
    
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .card img  {
    width: 150px;
    height: 150px;
    background-color: #f7f6f6;
    border-radius: 8px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .promocao {
    display: block;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    margin-bottom: -50px;
    
    
  }
  .promocao h3{
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: #f5740a;
  }
  
  .promocao:hover {
    background-color: #e2e2e2;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  
  .promocao span {
    display: block;
    margin-bottom: 5px;
  }
  
  .promocao:hover span {
    color: #ee6c4d;
  }
 
/* end promoções*/

/*faça-mais*/ 
.faça-mais .container {
    display: flex;
    align-items: center;
    
}
.faça-mais .faça-mais-text{
    width: 50%;
    padding: 30px 50px;
    text-align: center;
    
}
.faça-mais .faça-mais-text h3{
    font-size: 45px;
    margin-top: -150px;
    text-align: start;
    color: #f87103;
    font-family: sans-serif;
}
.faça-mais-text p{
    margin: 50px 50px 30px 0px;
    font-size: 22px;
    text-align: start;
   font-weight: bold;
}   
.faça-mais .faça-mais-img{
    width: 50%;
}
.faça-mais .faça-mais-img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 50px;  
}
.depoimentos h3{
    text-align: center;
    color: #f87103;    
}
.depoimentos p{
    text-align: center;
    margin: 10px 10px 10px 10px;
    color: #020202;
    font-weight: bold;
}
.cards{
    display: flex;
    justify-content: center;
}
.card-item{
    background-color: #facca6;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}
.card-item img{
    border-radius: 5px;    
}
.nome-user{
   font-weight: bolder;
   font-size: 20px; 
   margin-bottom: 10px;
}
.depoimento-user{
    font-size: 15px;
    padding: 0 15px;
}
.card-item:hover{
    background-color: rgb(188, 217, 243);
    margin-top: -5px;
}

.card-item:hover .nome-user{
    color: #f87103;
}
.clientes h3{
    text-align: center;
    margin: 0px 10px 50px 0px;
    font-size: 20px;
    margin-top: 20%;
}   
   
.clientes .container div{
    display: flex;
    text-align: center;  
    justify-content: space-around;
    margin: 0px 8px 30px 0px;           
}
.clientes p{
    background-color: #facca6;
    text-align: center;
}
.banner-destino {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
}

.banner-destino h1{
    font-size: 60px;
    align-items: center; } 

.bannerdestino p{
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    font-family: sans-serif;
    color: aliceblue;
} 
.destino{
    display: flex;
    align-items: center;        
    justify-content: space-between;
    margin-top: 30px;
    transition: 0.3s;                
}  
.destino2 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 30px;
    transition: 0.3s;    
    
} 
.banner-destino h1{
    font-family: sans-serif;
    font-size: 80px;
    margin-top: -30px;   
} 

.destino img{
    background-color:aliceblue;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;    
}
.destino2 img{
    background-color:aliceblue;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;    
}
.banner-destino {
    font-size: 35px;
}
.destino2 :hover {
    background-color: #fc8b2e;
}
.destino :hover {
    background-color: #fc8b2e;
}
.tabela.destino{
    display: block;
    padding: 8px;
}

/*pagina de contato*/
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10%;
    color: #f2f2f2;
   font-family: cursive;    
  }
  
  form {    
    align-items: center;      
  }
  
  label {
    display: block;
    margin-top: 10px;    
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 30%;    
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;  
  }
  
  textarea {
    height: 100px;
  }
.body{
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
}
.mapa{
 width: 100%; 
 margin-top: 300px; 
    
}

/*formulário destino*/
.bannerdestino{
  margin-top: -250px;
}
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #020202;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
    margin-bottom: -250px;

    
    
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;  } 

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   margin-top: 100px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  .btn {
    background-color: #f87103;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }   
  .menu{
    display: none;
  }
   
/*end pagina de contato*/
/*menu hamburguer*/
/*pagina home responsivel*/
@media screen and (max-width:768px){
  
    /* estilos para o menu hambúrguer */   
     
  .ul {
    display: none;
    }
  .menu-hamburguer {
    display: block;
    }       
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    display: flex;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 3px;        
    
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }      
  .banner-text h1{
    font-size: 45px; 
    color: #f87103;
  }
  .banner-text p{
    display: none;
  } 
  .faça-mais{
    display: none;
  }
  .cards{
    display: block;
    
  }
  .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .depoimentos h3{
    font-size: 25px;
  } 
  .depoimentos p{
    font-size: 10px;
  }
  .destino{        
    display: none;     
  }
  .destino2{
    display: none;
  }
  .bannerdestino{
    display: cover;
  }  
  .bannerdestino {
    align-items: center;
    display: block;   
    
  }
  .bannerdestino h1{
    display: none;
  }
  .bannerdestino .btn{
    margin-top: 200px;
  }
  .clientes{
    margin-top: 50px;
  }
  .header{
    display: cover;
  }
  .banner p{
    display: none;
  }
  .banner-text2 h1{
    font-size: 45px;
  }
  .a img{
    display: center;
  }

  }
    
  

  
